dotNet/PolyTweetWPF/PolyTweetWPF/Service References/CanalManagerBeanService/CanalManagerBeanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.domain.j2e/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://domain.j2e/" name="CanalManagerBeanService" targetNamespace="http://impl.domain.j2e/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://domain.j2e/" location="http://localhost:8080//webservices/CanalManagerBean?wsdl=CanalManager.wsdl" />
  <wsdl:types />
  <wsdl:binding name="CanalManagerBeanServiceSoapBinding" type="ns1:CanalManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="afficherTagByAbonne">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="afficherTagByAbonne">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="afficherTagByAbonneResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="supprimer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="supprimerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="supprimerMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="supprimerMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="afficherTagByType">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="afficherTagByType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="afficherTagByTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ajouterMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ajouterMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="creer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="creerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CanalManagerBeanService">
    <wsdl:port name="CanalManagerBeanPort" binding="tns:CanalManagerBeanServiceSoapBinding">
      <soap:address location="http://localhost:8080//webservices/CanalManagerBean" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>