dotNet/PolyTweetWPF/PolyTweetWPF/Service References/UtilisateurManagerBeanService/UtilisateurManagerBeanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.domain.j2e/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://domain.j2e/" name="UtilisateurManagerBeanService" targetNamespace="http://impl.domain.j2e/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://domain.j2e/" location="http://localhost:8080//webservices/UtilisateurManagerBean?wsdl=UtilisateurManager.wsdl" />
  <wsdl:types />
  <wsdl:binding name="UtilisateurManagerBeanServiceSoapBinding" type="ns1:UtilisateurManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="demandeAbonnement">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="demandeAbonnement">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="demandeAbonnementResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consulterMessages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="consulterMessages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consulterMessagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerModerateur">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="supprimerModerateur">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="supprimerModerateurResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="create">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accepterAbonnement">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="accepterAbonnement">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="accepterAbonnementResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ajouterMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ajouterMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterModerateur">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ajouterModerateur">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ajouterModerateurResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerProprietaire">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="supprimerProprietaire">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="supprimerProprietaireResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="supprimerMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="supprimerMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterProprietaire">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ajouterProprietaire">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ajouterProprietaireResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refuserAbonnement">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="refuserAbonnement">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="refuserAbonnementResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilisateurManagerBeanService">
    <wsdl:port name="UtilisateurManagerBeanPort" binding="tns:UtilisateurManagerBeanServiceSoapBinding">
      <soap:address location="http://localhost:8080//webservices/UtilisateurManagerBean" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>