dotNet/PolyTweetWPF/PolyTweetWPF/Service References/UtilisateurFinderBeanService/UtilisateurFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://domain.j2e/" name="UtilisateurFinder" targetNamespace="http://domain.j2e/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://domain.j2e/" elementFormDefault="unqualified" targetNamespace="http://domain.j2e/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="findUtilisateurByLogin" type="tns:findUtilisateurByLogin" />
      <xs:element name="findUtilisateurByLoginResponse" type="tns:findUtilisateurByLoginResponse" />
      <xs:complexType name="findUtilisateurByLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findUtilisateurByLoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:utilisateur" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="utilisateur">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="canalAbonnes" nillable="true" type="tns:canal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="canalAttente" nillable="true" type="tns:canal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="canalModerateurs" nillable="true" type="tns:canal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="canalProprietaires" nillable="true" type="tns:canal" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="messagesEnvoyes" nillable="true" type="tns:message" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="canal">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="abonnes" nillable="true" type="tns:utilisateur" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="attente" nillable="true" type="tns:utilisateur" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="messages" nillable="true" type="tns:message" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="moderateurs" nillable="true" type="tns:utilisateur" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="proprietaires" nillable="true" type="tns:utilisateur" />
          <xs:element minOccurs="0" name="tag" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="tns:typeCanal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="message">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="pieceJointe">
        <xs:sequence />
      </xs:complexType>
      <xs:simpleType name="typeCanal">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PUBLIC" />
          <xs:enumeration value="PRIVE" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="findUtilisateurByLoginResponse">
    <wsdl:part name="parameters" element="ns1:findUtilisateurByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="findUtilisateurByLogin">
    <wsdl:part name="parameters" element="ns1:findUtilisateurByLogin" />
  </wsdl:message>
  <wsdl:portType name="UtilisateurFinder">
    <wsdl:operation name="findUtilisateurByLogin">
      <wsdl:input name="findUtilisateurByLogin" message="ns1:findUtilisateurByLogin" />
      <wsdl:output name="findUtilisateurByLoginResponse" message="ns1:findUtilisateurByLoginResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>